/* Footer.css */

.footer {
  background: linear-gradient(to BOTTOM, rgb(80, 24, 99), rgb(19, 3, 25));
  color: white;

  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footer_content {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
}

.footer_links a {
  text-decoration: none;
  font-weight: 700;
}
.footer_logo {
  display: flex;
  align-items: center;
}

.footer_logo img {
  width: 150px; /* Adjust the width as needed */
  margin-right: 10px;
}

.footer_contact a {
  text-decoration: none;
  font-weight: 600;
}
.footer_copyright {
  align-self: center;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .footer_content {
    justify-content: flex-start;
  }
  .footer_logo img {
    margin-bottom: 20px;
    position: relative !important;
    left: 250px !important;
    top: -250px !important;
  }
  .footer_links {
    justify-content: center;
    margin-bottom: 20px;
  }

  .footer_contact a {
    margin-bottom: 10px;
  }
}
@media (max-width: 380px) {
  .footer_logo img {
    left: 200px !important;
  }
  @media (max-width: 330px) {
    .footer_logo img {
      width: 120px;
      left: 160px !important;
    }
  }
}
