.main_div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 90vh;
  padding-left: 30px;
  padding-top: 20px;
  background: linear-gradient(to BOTTOM, #9b51e0, rgb(80, 24, 99));
  color: white;
}

.main_div h2 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.main_div p {
  font-size: 1rem;
  font-weight: 600;
}
.first_p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.underline {
  text-decoration: underline;
}
@media (max-width: 426px) {
  .main_div h2 {
    font-size: 2rem;
  }
  .main_div p {
    font-size: 0.8rem;
  }
}

@media (max-width: 376px) {
  .main_div h2 {
    font-size: 1.5rem;
  }
  .main_div p {
    font-size: 0.7rem;
  }
}
